.card-stack-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 160px; /* Adjust based on card size */
  height: 224px; /* Adjust based on card size */
  margin: auto; /* Center the stack if the parent is flex */
}

@keyframes slide-in-from-right {
  from {
    transform: translateX(
      50vw
    ); /* Adjust this based on desired starting position */
  }
  to {
    transform: translateX(0); /* Adjust if necessary */
  }
}

@keyframes slide-in-from-left {
  from {
    transform: translateX(
      -50vw
    ); /* Adjust this based on desired starting position */
  }
  to {
    transform: translateX(0); /* Adjust if necessary */
  }
}
.card-container {
  perspective: 1000px; /* Gives a nice 3D effect */
}

.card {
  width: 100px; /* Example size, adjust as needed */
  height: 140px;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card.flipped {
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
}

.back {
  transform: rotateY(180deg);
}
